.visible {
  height: 350px;
  width: 275px;
}

.hidden {
  height: 0px;
  width: 0px;
}  

#Info {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
  margin-top: 60px;
  /* height: 350px; */
  width: 275px;
  display             : inline-block;
  z-index: 999;
  transition: all 0.3s linear;
  overflow: hidden;
}

#Info h1 {
  font-size         : 1.5rem;
  /* margin            : 1rem; */
  text-align        : start;
  color             : #f8de86;
  text-shadow       : #40000070 2px 2px; 
}

  
@media only screen and ( max-width: 850px ) {
}

@media only screen and ( max-width: 650px ) {
}

@media only screen and ( max-height: 450px ) {

}

.notepad2{
  display:inline-block;
  margin:0 10px;
  padding: 35px;
}

.notepad2{
  width:275px;
  height:350px;
  border-radius:0 0 2px 2px;
  background:#FFF;
  background-image:linear-gradient(90deg, transparent 0, transparent 18px, red 18px, red 19px, transparent 19px, transparent 20px, red 20px, red 21px, transparent 21px), repeating-linear-gradient(#2196f3 0, #2196f3 1px, transparent 1px, transparent 10px);
  background-size:100% 100%, 100% 85%;
  background-position:0 0, 0 80%;
  background-repeat:no-repeat;
  box-shadow:inset 0 10px #255654, inset 0px -4px 0 rgba(0,0,0,0.25), 3px 3px 0 rgba(0,0,0,0.25)
}

.time-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-items: center;
  width: 100%;
  gap: 2px;
  margin-bottom: 10px;
}

.dots {
  width: 100%;
  margin-bottom: 5px;
  /* height: 100%; */
  border-bottom: 2px #000 dotted;
}

.boling-times-container {
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

p {
  width: 100%;
  font-size: 13px;
  margin: auto;
}

.buttons {
  display: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  font-family: cursive;
  font-size: 20px;
}

.buttons-head {
  color             : #f8de86;
  text-shadow       : #40000070 2px 2px; 
  font-size: 18px;
}

i {
  cursor: pointer;
}

.fa-github {
  margin-right: 15px;
  color: #6e5494;
}

.fa-linkedin-in {
  color: #0e76a8;
}

 