 
   .egg-container {
    position: absolute;
    bottom: 0;
    margin-bottom: 300px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 250px;
    flex-direction: row;
  }

  .cr11 {
    top: 50%;
    left: 50%;
    width: 170px;
    height: 240px;
    background-color: white;
    transform: translate(-50%, -50%);
    border-top-left-radius: 60% 70%;
    border-top-right-radius: 60% 70%;
    border-bottom-left-radius: 60% 50%;
    border-bottom-right-radius: 60% 50%;
    box-shadow: 5px 5px #9d91b3;
    position: absolute;
  }

  .cr12 {
    top: 100px;
    left: 25px;
    width: 120px;
    height: 120px;
    background-color: #fef600;
  }

  .cr13 {
    top: 5px;
    left: 5px;
    width: 110px;
    height: 110px;
    background-color: #fbbd00;
    box-shadow: inset 10px 10px #fed400;
  }

  .cr21 {
    top: 50%;
    left: 50%;
    width: 170px;
    height: 240px;
    background-color: white;
    transform: translate(-50%, -50%);
    border-top-left-radius: 60% 70%;
    border-top-right-radius: 60% 70%;
    border-bottom-left-radius: 60% 50%;
    border-bottom-right-radius: 60% 50%;
    box-shadow: 5px 5px #9d91b3;
    position: absolute;
  }
  
  .cr22 {
    top: 100px;
    left: 25px;
    width: 120px;
    height: 120px;
    background-color: #fef600;
  }
  
  .cr23 {
    top: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
    background-color: #fbbd00;
    box-shadow: inset 15px 15px #fed400;
  }
  
  .cr31 {
    top: 50%;
    left: 50%;
    width: 170px;
    height: 240px;
    background-color: white;
    transform: translate(-50%, -50%);
    border-top-left-radius: 60% 70%;
    border-top-right-radius: 60% 70%;
    border-bottom-left-radius: 60% 50%;
    border-bottom-right-radius: 60% 50%;
    box-shadow: 5px 5px #9d91b3;
    position: absolute;
  }
  
  .cr32 {
    top: 100px;
    left: 25px;
    width: 120px;
    height: 120px;
    background-color: #fef600;
  }

  
  .egg, .egg1, .egg2, .egg3 {
    width: 250px;
    height: 250px;
    position: relative;
  }

  .egg-yolk, .egg-yolk-center {
    border-radius: 100%;
    position: absolute;
  }

  .egg-white {
    top: 50%;
    left: 50%;
    width: 170px;
    height: 240px;
    background-color: white;
    transform: translate(-50%, -50%);
    border-top-left-radius: 60% 70%;
    border-top-right-radius: 60% 70%;
    border-bottom-left-radius: 60% 50%;
    border-bottom-right-radius: 60% 50%;
    box-shadow: 5px 5px #9d91b3;
    position: absolute;
  }

  .egg-yolk {
    top: 100px;
    left: 25px;
    width: 120px;
    height: 120px;
    background-color: #fef600;
  }

  .egg-yolk-center {
    animation: boil-egg-yolk-center 720s;
    animation-play-state: paused;
  }

  .resume {
    animation: boil-egg-yolk-center 720s;
    animation-play-state: running;
  }

  .paused {
    animation-play-state: paused;
  }

  .restart {
    top: 5px;
    left: 5px;
    width: 110px;
    height: 110px;
    background-color: #fbbd00;
    box-shadow: inset 10px 10px #fed400;
    animation: none;
  }

  @keyframes boil-egg-yolk-center {
    0%{
      top: 5px;
      left: 5px;
      width: 110px;
      height: 110px;
      background-color: #fbbd00;
      box-shadow: inset 10px 10px #fed400;
    }
    50%{
      top: 30px;
      left: 30px;
      width: 60px;
      height: 60px;
      background-color: #fbbd00;
      box-shadow: inset 15px 15px #fed400;
    }

    100%{

    }
  }


