* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  background-color: #9bcae8;
  text-align: center;
  font-family: cursive;
  margin: 0px;
  min-height: 100%;
  width: 100%;
}
